#ignore the raw data but keep with out the images 
/posts

#ignore the OLD folder
/OLD

#ignore the .ipynb_checkpoints  
/.ipynb_checkpoints

#ignore the __pycache__
/__pycache__

#ignore things for submission
/submitting

#ignore images in handcode folder
/handcode/all_people

#ignore images in handcode folder
/handcode/random_face

#plots not to be included

/plots/CNN_108.jpeg
/plots/CNN_308.jpeg
/plots/people_in_posts.png
/plots/women_in_posts.png
/plots/std_women_3.png
/plots/std_women_7.png
/plots/std_women_14.png
/plots/std_women_30.png
/plots/12_weeks_event_all.png

